.mxcode {
    background-color: #36454F;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #ffffff;
}

.mxCarouselImages {
    width: 100%;
    // max-width: 600px;
}

.mxTextDisplay {
    color: #ffffff;
}

.mxswiper-button-prev, .mxswiper-button-next {
    color: #ffffff;
    background-color: RGBA(54,69,79,0.3);
    border-radius: 100%;
    aspect-ratio: 1;
    padding: 25px;
}

.mxswiper-button-prev {
    left: 35%;
}

.mxswiper {
    padding-bottom: 35px;
}

@media only screen and (max-width: 992px){
    .mxcode {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .mxNoteBelow {
        font-size: 15px;
    }
    .mxswiper-button-prev {
        left: auto;
    }
    .mxswiper-button-prev, .mxswiper-button-next {
        top: 73%;
    }
    .mxCarouselImages {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 768px){
    .mxcode {
        padding-top: 80px;
        padding-bottom: 70px;
    }
    .mxNoteBelow {
        font-size: 12px;
    }
    .mxswiper-button-prev {
        left: auto;
    }
    .mxswiper-button-prev, .mxswiper-button-next {
        top: 84%;
    }
    .mxCarouselImages {
        margin-top: 20px;
    }
}